#root {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.containerLogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.containerLogin form {
  margin: auto;
  text-align: center;
}

.input-login {
  margin: auto;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 70%;
}

table, tr, th, td {
  border: solid 1px black;
}
