body {
  align-items: center;
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.containerLogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;
}

.containerLogin form {
  margin: auto;
  text-align: center;
}

.input-login {
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 70%;
}

table , tr , th , td {
  border: solid 1px white;
  margin-top: 10px;
}
