@media only screen and (min-width: 481px) and (max-width: 968px) {

  ::-webkit-scrollbar {
      display: none;
    }

  body {
    align-items: center;
    backdrop-filter: blur(5px);
    background-color: black;
    background-image: url(./img/foto\ fundo.png);
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
  }

  .containerLogin {
    align-items: center;
    background-color: #ffffff;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    height: 40%;
    justify-content: center;
    margin: auto;
    width: 40%;
  }

  .containerLogin img {
    margin-top: 20px;
    width: 80%;
  }

  .containerLogin form {
    margin: auto;
    text-align: center;
  }

  .input-login {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 1px #2FC18C;
    border: none;
    color: black;
    border-radius: 10px;
    font-size: 18px;
    height: 35px;
    margin-bottom: 5px;
    text-align: center;
    width: 80%;
  }

  .input-login::placeholder {
    color: rgba(0, 0, 0, 0.486);
  }

  .input-login:focus {
    border: none;
    outline: 0;
  }

  .button-login {
    border: none;
    color: black;
    border-radius: 10px;
    height: 35px;
    margin-bottom: 5px;
    padding: 0;
    text-align: center;
    width: 80%;
  }

  .button-login:active {
    background-color: rgba(75, 69, 69, 0.712);
  }

  .button-login:hover {
    background-color: #2FC18C;
    color: white;
  }

  header {
    background-color: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    color: black;
    margin: auto;
    padding: 20px;
    position: relative;
    top: 0;
    width: 80%;
    z-index: 1;
  }

  header > :nth-child(2) {
    margin-top: 10px;
    padding: 10px;
  }

  .initial-infos {
    background-color: aquamarine;
    border-radius: 10px;
    box-shadow: 1px 2px 2px #2FC18C;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: space-around;
    width: auto;
  }

  h2 {
    margin: 0 3px;
    font-size: 16px;
  }

  .initial-infos > :nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    margin: auto;
  }

  .initial-infos > :nth-child(1) img{
    width: 70%;
  }

  .initial-infos > :nth-child(2) {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    justify-content: center;
    margin: auto;
  }

  .initial-infos > :nth-child(3) {
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    margin: auto;
  }

  .form-Wallet {
    display: flex;
    flex-flow: column wrap;
  }

  .form-Wallet > :nth-child(1) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
  }

  .form-Wallet > :nth-child(2) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 15px;
  }

  .input-form {
    border: none;
    border-radius: 10px;
    height: 30px;
    outline: 0;
    text-align: center;
    width: 35%;
    box-shadow: 1px 1px 1px #2FC18C;
  }

  .input-form-select {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #2FC18C;
    height: 30px;
    outline: 0;
    text-align: center;
    width: 20%;
  }

  .form-Wallet > button {
    background-color: white;
    border: none;
    border-radius: 10px;
    box-shadow: 1px 1px 1px #2FC18C;
    height: 30px;
    margin: auto;
    outline: 0;
    width: 50%;
  }

  main {
    background-color: #003BE5;
    border-radius: 20px;
    height: 380px;
    margin: auto;
    position: relative;
    top: -80px;
    width: 95%;
  }
  
  .content-table {
    margin: auto;
    height: 75%;
    padding-top: 80px;
    overflow-y: scroll;
    width: 85%;
  }

  table {
    position: relative;
    margin: auto;
    text-align: center;
    width: 100%;
  }

  table > thead > tr {
    background-color: #003BE5;
    border-collapse: collapse;
    border-spacing: 0;
    position: sticky;
    top: 0;
  }

  th {
    border-bottom: solid 1px white;
    width: 10%;
  }

  .trash-button {
    color: red;
    border: none;
    font-size: 30px;
  }

  .edit-button {
    color: rgb(255, 230, 0);
    border: none;
    font-size: 30px;
  }
}
  